<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 bg-info">
			<h5 class="text-center text-white h3 "> Contact Us</h5>
			<ol class="fa-ul">
				<li><span class="fa-li"><i class="fas fa-map-marker-alt" style='font-size:25px;color:white'></i></span><p class='text-white'>Karachi Pakistan</p></li>
				<li><span class="fa-li"><i class="fas fa-mobile-alt" style='font-size:25px;color:white'></i></span><p class='text-white'>0000-0000000</p></li>
				<li><span class="fa-li"><i class="fas fa-envelope-square" style='font-size:25px;color:white'></i></span><p class='text-white'>abc@gmail.com</p></li>
			</ol>
		</div>
		<div class="col-md-4 bg-info">
			<h5 class="text-center text-white h3"> latest Post</h5>
            <ol class="fa-ul">
				<li><span class="fa-li"><i class="fab fa-google-drive" style='font-size:25px;color:white'></i></span><p class='text-white'>Made with love in Karachi</p></li>
				<li><span class="fa-li"><i class="fas fa-industry" style='font-size:25px;color:white'></i></span><p class='text-white'>Startup News & Tech</p></li>
				<li><span class="fa-li"><i class="fab fa-cc-amazon-pay" style='font-size:25px;color:white'></i></span><p class='text-white'>Bitcoin will soon rule world</p></li>
			    <li><span class="fa-li"><i class="fas fa-play" style='font-size:25px;color:white'></i></span><p class='text-white'>Wearable Technology on the Rise</p></li>
                <li><span class="fa-li"><i class="fas fa-image" style='font-size:25px;color:white'></i></span><p class='text-white'>Learn to Earn</p></li>
            </ol>
		</div>
		<div class="col-md-4 bg-info">
			<h5 class="text-center text-white h3"> Latest News</h5>
            <ol class="fa-ul">
				<li><span class="fa-li"><i class="fas fa-share-square" style='font-size:25px;color:white'></i></span><p class='text-white'>Artificial intelligence will reshape the business strategies</p></li>
				<li><span class="fa-li"><i class="fab fa-twitter" style='font-size:25px;color:white'></i></span><p class='text-white'>Blockchain will reveal new opportunities in different industries</p></li>
				<li><span class="fa-li"><i class="far fa-newspaper" style='font-size:25px;color:white'></i></span><p class='text-white'>New approaches to privacy and security are coming
		</div>
	</div>
</div>
<div class="container-fluid">
    <div class="row text-center">
          <div class="col-md-3 bg-transparent w-75 p-3">
          Copy right reserved
          </div>
      <div class="col-md-6 bg-transparent w-75 p-3">
        <i class='fab fa-facebook-square' style='font-size:25px;color:#0066cc'></i>
        <i class='fab fa-twitter-square' style='font-size:25px;color:#38A1F3'></i>
        <i class='fab fa-linkedin' style='font-size:25px;color:#0077B5'></i>
        <i class='fas fa-envelope' style='font-size:25px;color:red'></i>
      </div>
          <div class="col-md-3 bg-transparent w-75 p-3">
          GIGSPOT
          </div>
  </div>
  </div>